* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: grey; */
  font-family: "Caveat Brush", cursive;
}

h1 {
  font-size: 250%;
}

.square-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#square {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  height: 50vh;
  width: 50vh;
  background: red;
}

.btn-wrapper {
  display: flex;
  width: 50vh;
  justify-content: space-between;
}

#btn-square,
#btn-refresh {
  width: 125px;
  font-family: "Barlow", sans-serif;
  font-size: 125%;
  padding: 5px;
}

@media (max-width: );
